{% extends 'base.html.twig' %}

{% block title %}New Voyageur{% endblock %}

{% block body %}
    
    <div class="container">
        <h1>Creer un nouveau Voyageur</h1>

    {{ include('voyageur/_form.html.twig') }}
    </div>
{% endblock %}
